<div class="animated bounceInRight">
<div class="jumbotron text-center">
    <h1>The WalletHub Task 1: first page</h1>
    <p>Pages that share a single state for loading them..</p> 
</div>
<div class="row">
	<div class="col-sm-6">
		<form>
    <div class="form-group">
      <label for="fname">First Name</label>
      <input type="text" class="form-control" id="fname" ng-model="data.fname">
    </div> 
    <div class="form-group">
      <label for="lname">Last Name</label>
      <input type="text" class="form-control" id="lname" ng-model="data.lname">
    </div> 
    <a href="#/task2" class="btn btn-info" role="button">Continue</a>
    </form> 
	</div>
</div>
</div>